<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jesus_young.jesusutilproject">

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".share_card.ShareCardActivity" />
        <activity android:name=".animation_test.property_animation.AnimationActivity" />
        <activity android:name=".transition.TransitionMenuActivity" />
        <activity android:name=".transition.Demo1activity" />
        <activity android:name=".transition.SharedDemoActivity" />
        <activity android:name=".animation_test.layout_animation.LayoutAnimationActivity" />
        <activity android:name=".animation_test.AnimPageActivity" />
        <activity android:name=".shortcuts.ShortcutsActivity" />
        <activity android:name=".animation_test.property_animation.PropertyActivity" />
        <activity android:name=".notification.NotificationActivity"></activity>
    </application>

</manifest>